.btn-01{
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;

}
.btn-01:hover {
    background-color: #008CBA;
    color: white;
}
.btn-x{
    background-color:transparent; 
    color: transparent; 
}