header{
    
        font-size: $fs-14;
        line-height: $lh-12;
        color: $pine-green;
        font-weight: $fw-bold;
        margin: 0;
        align-self: center;
        padding: 5px 0;
        background-color: aqua;
}

.hola{
    background-color: blue;
}