.title-01{
    text-decoration-color: aqua;
}

.bg-header{
    background-color: black;
}
.detalle {
    width: 1.5em;
    height: 1.5em;
}
.error_form {
    font-size: 0.625rem;
    color: red;
}

.lista {
    padding: 0;
    margin: 0 0 1rem !important;
    
    li {
    list-style: none;
    }

}