.title-01 {
  -webkit-text-decoration-color: aqua;
          text-decoration-color: aqua;
}

.bg-header {
  background-color: black;
}

.detalle {
  width: 1.5em;
  height: 1.5em;
}

.btn-01 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.btn-01:hover {
  background-color: #008CBA;
  color: white;
}

.btn-x {
  background-color: transparent;
  color: transparent;
}

