header {
  background-color: black;
  height: 2em;
}

.btn-01 {
  color: white;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 15px;
  line-height: 25px;
  text-decoration: none;
}

